[Desktop Entry]
Type=Application
Exec=python3 /home/[username]/.config/autostart/brightness-script.py
Hidden=false
Terminal=False
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Brightness Controller
Name[C]=brightness-controller
